{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Adverse Events</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>

<body>
    <h1>Food Adverse Events</h1>
    <form method="get" action="">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>


    <table>
        <!-- (Include the same table structure from the previous index.html) -->
        
       
            <thead>
                <tr>
                    <th>Report Number</th>
                    <th>Date Created</th>
                    <th>Date Started</th>
                    <th>Outcome</th>
                    <th>Reactions</th>
                    <th>Consumer</th>
                    <th>Products</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.repot_number }}</td>
                        <td>{{ event.date_created }}</td>
                        <td>{{ event.date_started }}</td>
                        <td>{{ event.outcome }}</td>
                        <td>{{ event.reactions }}</td>
                        <td>
                            Age: {{ event.consumer.age }} {{ event.consumer.age_unit }}<br>
                            Gender: {{ event.consumer.gender }}
                        </td>
                        <td>
                            <ul>
                                {% for product in event.products.all %}
                                    <li>
                                        Role: {{ product.role }}<br>
                                        Name/Brand: {{ product.name_brand }}<br>
                                        Industry Code: {{ product.inductry_code }}<br>
                                        Industry Name: {{ product.inductry_name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        


        
    </table>
</body>

</html>
