<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Charts</title>
</head>

<body>
    <h1>Line Charts</h1>

    <div>
        <h3>Adverse event reports by year</h3>
        {{ year_chart|safe }}
    </div>
    <div>
        <h3>Adverse event reports by month</h3>
        {{ month_chart|safe }}
    </div>
    <div>
        <h3>Adverse event reports by day</h3>
        {{ day_chart|safe }}
    </div>
</body>

</html>
