{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Food Adverse Events</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>

<body>
    <h1>Search Food Adverse Events</h1>
    <form method="get" action="">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <table>
        <!-- (Include the same table structure from index.html) -->
    </table>
</body>

</html>
